@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root {
    --primary-color: #7945FF;
    --secondary-color: #5C2DD5;
    --black: #000;
    --player-one: #FD6687;
    --player-two: #FFCE67;
    --white: #fff;
}

.opacity {
    background-color: #000;
    display: none;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    font-family: "Space Grotesk", serif;
    background-color: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 3.3rem;
    width: 50%;
}

.headerBtn {
    padding: 9px 20px;
    border-radius: 99px;
    font-size: 16px;
    border: none;
    line-height: 20px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 700;
}

.secJeu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    gap: 60px;
    padding: 0 1.5rem;
}

.divScore {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    padding: 2.8rem 1.75rem 1rem 1.75rem;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    background-color: var(--white);
    border-radius: 20px;
}

.imgPlayer {
    position: absolute;
    bottom: 79%;
}

h2 {
    color: var(--black);
    font-weight: 700;
    font-size: 20px;
    line-height: 25.52px;
}

.score {
    font-weight: 700;
    font-size: 56px;
    line-height: 71.46px;
    color: var(--black);
}

.divImgCursor {
    display: block;
    position: relative;
    width: 36.2%;
    margin: auto;
}

.imgCursor {
    position: absolute;
    left: 0;
    bottom: 100%;
}

.secLayer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.imgGrid {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(7, 64px);
    padding: 20px;
}

.divGridColumn {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.btnGrid {
    z-index: 1;
    border: none;
    border-radius: 50%;
    height: 64px;
    padding: 0;
    background-color: transparent;
}

.imgShadowGrid {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.divFooter {
    display: none;
    flex-direction: column;
    height: 180px;
    background-color: var(--secondary-color);
    border-radius: 60px 60px 0 0;
}

.chronometre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    top: 90%;
    left: 44%;
    z-index: 3;
    width: 12%;
    margin: auto;
    text-align: center;
    background-color: var(--player-one);
    padding: 1.5rem 0;
    border: 3px solid black;
    border-radius: 40px;
}

.chronoPlayerH2, .spanPlayerTurn {
    font-weight: 700;
    color: var(--white);
    line-height: 20.42px;
    font-size: 16px;
}

.chronoPointPlayer {
    font-weight: 700;
    font-size: 56px;
    line-height: 71.46px;
    color: white;
}

.winPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 42.5%;
    z-index: 3;
    width: 15%;
    margin: auto;
    background-color: var(--white);
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    padding: 12px 0;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    border-radius: 20px;
}

.winH2, .spanWinPlayer {
    font-weight: 700;
    font-size: 16px;
    line-height: 20.42px;
}

.winP {
    font-weight: 700;
    font-size: 56px;
    line-height: 71.46px;

}

.btnReplay {
    background-color: var(--secondary-color);
    border-radius: 99px;
    color: white;
    padding: 10px 22px;
    border: none;
}

/* section règle */

.secRule {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.cardRules {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    margin: auto;
    border: 3px solid black;
    background-color: #fff; 
    border-radius: 40px;
    padding: 2rem 1.5rem;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);

}

.rulesH2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 71.46px;
    text-align: center;
}

hgroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h3 {
    line-height: 25.52px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 20px;
}

.pObjectif {
    font-weight: 500;
    font-size: 16px;
    line-height: 20.42px;
    color: #000;
    width: 100%;
}

.divH3Ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
}

li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.42px;
    color: #000;
}

.spanLi {
    font-weight: 700;
    font-size: 16px;
    line-height: 20.42px;
    color: var(--black);
}

.check {
    background-color: var(--player-one);
    position: absolute;
    top: 93%;
    left: 42%;
    padding: 1.2rem 1rem;
    border: 3px solid black;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 50%;
}

/* div pause */

.dialogPause {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28%;
    left: 35%;
    z-index: 5;
    background-color: var(--primary-color);
    border: 3px solid var(--black);
    border-radius: 40px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    padding: 3rem 2.5rem;
    gap: 15px;
}

.pauseH2 {
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 71.46px;
}

.divBtnPause {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btnContinue, .btnRestart {
    padding: 1.5rem 6rem;
    background-color: var(--white);
    border: 3px solid var(--black);
    font-weight: 700;
    font-size: 24px;
    line-height: 30.62px;
    border-radius: 20px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}

.btnContinue:hover, .btnRestart:hover {
    border: 3px solid var(--secondary-color);
    box-shadow: 0px 10px 0px 0px var(--secondary-color);

}

.btnQuit {
    padding: 1rem;
    background-color: var(--player-one);
    border: 3px solid var(--black);
    border-radius: 20px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 30.62px;
    color: var(--white);
}

.btnQuit:hover {
    border: 3px solid var(--secondary-color);
    box-shadow: 0px 10px 0px 0px var(--secondary-color);

}

.secMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
}

.divTotalMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 30%;
    border: 3px solid var(--black);
    border-radius: 40px;
    padding: 4rem 2.5rem;
    background-color: var(--primary-color);
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);

}

.divBtnMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100vw;
}

.btnPlay, .btnRules {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--player-two);
    border: 3px solid var(--black);
    border-radius: 20px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 30.62px;
    color: var(--black);
    width: 22%;
}

.btnRules {
    background-color: var(--white);
}